h3 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #101828;
}






h6 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #475467;
    margin-top: 1.25rem;
}


